#nav-bar li{
		color: black;
		display: block;
		border: 1px solid white;
		padding: 3px;
	}
#nav-bar li:hover {
		background-color: lightblue;
	}

#title {
	font-family: Trebuchet MS;
	background-color: #cf4444
	
}
#content-left {
	background: pink;
}
#left-navigation form {
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	background-color
}
#left-navigation input {
	width: 75%;
}
#left-navigation button {
	width: 20%;
}

.login-search {
	margin: 0 auto;
	padding-left: 0 px;
	background-color: pink;
	display: inline;
}

.group-list {
	margin-left: 3px;
	margin-right: 3px;
	overflow: hidden;
}
.post {
	margin: 0;
	padding-bottom: 15px;
	margin-bottom: 10px;
	padding-left: 5px;
	border-bottom: 1px solid black;
	overflow: auto;
}
.post p {
	display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
#upvote {
	background: pink;
}
img {
	max-width: 100%;
	max-height: 100%;
}
div.post img {
	float: left;
	display: block;
}

div.post-info {
	float:left;
	display: block;
	width: 100px;
	height: auto;
}
div.post-thumb-date p{
	margin:0px;
	width: 100px;
}
#vote {
	padding-top: 3px;
	padding-right: 3px;
}
#vote-number {
	display: inline;
}

.post-info p{
	margin: 0px;
}
#ads img{
	padding-bottom: 10px;
}
#content-right {
	background-color:#93C54B;
}
div.post-details {
	
	overflow: auto;
	height: auto;
	padding-bottom: 5px;
	padding-left: 5px;
}
div.post-details p {
	margin-top: 5px;
	margin-bottom: 5px;
}
div.post-details h3 {
	margin-top:0px;
	margin-bottom: 5px;
}
@media all and (min-width: 768px) {
	body {
		font-family: sans-serif;
	}	

	#content {
		clear: both;
	}
	
	#content-left {
		
		float: left;
		width: 85%;
		clear: left;
	}
	#content-right {
		float: right;
		width: 15%;
		display: inline;
		text-align: center;
		clear: right;
	}
	#footer {
		background: cyan;
		clear: both;
	}

	#left-navigation {
		background-color: #cfaa44;
		float: left;
		clear: left;
		width: 300px;
		display: block;
		
	}
	#left-navigation h1{
		text-align: center;
	}
	#feed {
		margin-left: 300px;
		padding-left: 10px;
		display: block;
	}
	#page-name {
		text-align: center;
		border: 2px solid;
		background-color: #93C54B;
		margin-right: 5px;
	}
	#nav-bar li{
		display: inline;
	}
	#nav-bar {
		padding-left: 0px;
	}
	#login{
		text-align: center;
	}
	
	
	
}
